@using YJC.Toolkit.Sys;
<div class="" style="background-color: #428bca; color: #fff; margin-left: -20px; margin-right: -20px">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle mr20" style="margin-top: 3px" type="button" id="dropdownMenu1" data-toggle="dropdown">
            导航<i class="icon-reorder"></i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebListXmlPage.tkx?Source=Cxcs/ZuiXin".AppVirutalPath())">最新发布</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebListXmlPage.tkx?Source=Cxcs/TongZhi".AppVirutalPath())">通知公告</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebListXmlPage.tkx?Source=Cxcs/FaGuiIndex".AppVirutalPath())">政策法规</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebListXmlPage.tkx?Source=Cxcs/BanShui".AppVirutalPath())">办税流程</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebListXmlPage.tkx?Source=Cxcs/NaShui".AppVirutalPath())">纳税辅导</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebInsertXmlPage.tkx?Source=CXCS/Consult".AppVirutalPath())">业务咨询</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebInsertXmlPage.tkx?Source=CXCS/Suggestion".AppVirutalPath())">意见与投诉</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebListXmlPage.tkx?Source=CXCS/GeShui".AppVirutalPath())">个税计算器</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@("Library/WebListXmlPage.tkx?Source=CXCS/Lianxi".AppVirutalPath())">联系我们</a></li>
        </ul>
    </div>
    <h4 class="vam dib ml20">杭州湾新区地税局</h4>
</div>
