@inherits YJC.Toolkit.Razor.ToolkitTemplate
@using YJC.Toolkit.Sys;
<!DOCTYPE html>
<html>
<head>
    <title>个税计算器</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/bootstrap/css/bootstrap.min.css".AppVirutalPath())" />
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/bootstrap/css/bootstrap-theme.min.css".AppVirutalPath())" />
    <link rel="stylesheet" type="text/css" href="@("toolkitjs/v5/bootstrap/css/font-awesome.min.css".AppVirutalPath())" />
    <link rel="stylesheet" type="text/css" href="@("toolkitcss/v5/commonM/style.css?v=1".AppVirutalPath())" />
    <link rel="stylesheet" type="text/css" href="@("usercss/input.css".AppVirutalPath())" />
</head>
<body id="WebInsertXmlPage" class="tk-dataPage" data-webpath="/WebSite/">
    <div class="container">
        <div id="metaData" class="hide" data-toolbar="false" data-option="false"></div>
        @RenderLocalPartial("EditTitle.cshtml", null)
        <form action="." method="POST" id="PostForm" class="tk-dataform form-horizontal p5 mt15 mb15" role="form">
            <div id="TEST_TOUSU" class="tk-datatable table-row">
                <div class="hide">
                </div>
                <div class="p10">
                    <div class="form-group">
                        <label for="Content" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pv1 text-right control-label lv-vam">应税收入</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 lv-vam">
                            <span class="tk-control">
                                <input type="Number" placeholder="应税收入" id="RawMoney" name="RawMoney" class="form-control" data-title="应税收入" />
                                <label class="help-block"></label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pv1 text-right control-label lv-vam">应交个税</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 lv-vam">
                            <span class="tk-control">
                                <input type="Text" disabled placeholder="应交个税" id="Tax" name="Tax" class="form-control" data-title="应交个税" />
                                <label class="help-block"></label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Phone" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pv1 text-right control-label lv-vam">税后收入</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 lv-vam">
                            <span class="tk-control">
                                <input type="Text" disabled placeholder="税后收入" id="Money" name="Money" class="form-control" data-title="税后收入" />
                                <label class="help-block"></label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block btn-cal">计算</button>
        </form>
    </div>
    <script type="text/javascript" src="@("toolkitjs/v5/lib/jquery-1.7.2.min.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/bootstrap/js/bootstrap.min.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/toolkit.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.page.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.data.js?v=7".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.weixin.js?v=5".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.ui.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("toolkitjs/v5/toolkit/coreT/toolkit.edit.js".AppVirutalPath())"></script>
    <script type="text/javascript" src="@("userjs/geshui.js".AppVirutalPath())"></script>
</body>
</html>
